<%= simple_form_for :search, url: root_path, method: 'GET', remote: true,
    defaults: {required: false, as: :check_boxes} do |f| %>
  <% @data_structure.each do |data| %>
    <%= f.input data.second[:column].to_sym, collection: data.second[:data] %>
  <% end %>
  <div class='buttons-form'>
    <%= f.button :submit, 'Submit', class: 'btn btn-success btn-block' %>
    <%= f.button :submit, 'Reset', class: 'btn btn-block btn-clear-selection' %>
  </div>
<% end %>
