<div class="container-soybean">
  <% @soybeans.each do |soybean| %>
    <div class="soybean">
      <p>🥔</p>
      <div class="popup-soybean">
        <h3>👈</h3>
        <h6><%= soybean.classification %></h6>
        <% @data_structure.each_with_index do |data, i| %>
          <% next if i == 0  %>
          <% column = data.second[:column].to_sym %>
          <% if soybean[column] != 'absent' %>
            <p>
              <span class='popup-label'>
                <%= column %>:
              </span>
              <%= soybean[column] %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
