@import "bootstrap-sprockets";
@import "bootstrap";

@import "form";
@import "fonts";
@import "soybeans";

body {
  background-color: rgb(245, 245, 245);
}

.container-main {
  width: 100%;
  padding: 0;
  position: relative;
  display: flex;
}

.container-form {
  padding: 20px;
  width: 365px;
}

.header {
  margin-top: 50px;
  h1 {
    color: rgba(77, 163, 42, 0.9);
    font-weight: 900;
    font-size: 68px;
    line-height: 35px;
  }
  h2 {
    position: absolute;
    top: 30px;
    left: 58px;
    font-size: 27px;
  }
  h3 {
    margin-top: 35px;
    font-size: 18px;
    font-weight: 500;
  }
}

.badge {
  background-color: rgba(77, 163, 42, 0.9);
  color: white;
  padding: 8px 20px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-soybean {
  width: calc(100% - 365px);
  padding: 20px;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // flex-grow: 1;
  flex-wrap: wrap;
}

.soybean {
  font-size: calc(3.4vw);
  // flex-grow: 1;
  // width: 200px;
  // height: 50px;
  display: inline-block;
  // background-color: white;
  margin-bottom: -25px;
  // box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.05);
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.soybean:hover > .popup-soybean {
  display: block;
}

.popup-soybean {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 2px;
  box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.05);
  text-transform: capitalize;
  z-index: 10;
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  text-align: center;
  font-size: 9px;
  font-weight: 400;
  width: 85px;
  padding: 5px;
  p {
    margin: 0;
  }
  h6 {
    font-weight: 800;
  }
}


