.simple_form {
  /*color: rgb(80, 80, 80);*/
  text-transform: capitalize;
  font-size: 12px;
}

.form-check-input {
  transform: scale(1.5);
}
div .check_boxes {
  color: red;
  margin: 8px;
}

.checkbox {
  /*color: blue;*/

}

