body {
  background-color: rgb(245, 245, 245);
}

.container-main {
  width: 100%;
  padding: 0;
  position: relative;
  display: flex;
}

.container-form {
  padding: 20px;
  width: 365px;
}

.header {
  margin-top: 50px;
  h1 {
    color: rgba(77, 163, 42, 0.9);
    font-weight: 900;
    font-size: 68px;
    line-height: 35px;
  }
  h2 {
    position: absolute;
    top: 30px;
    left: 58px;
    font-size: 27px;
  }
  h3 {
    margin-top: 35px;
    font-size: 18px;
    font-weight: 500;
  }
}

.badge {
  background-color: rgba(77, 163, 42, 0.9);
  color: white;
  padding: 8px 20px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 18px;
}
