.container-soybean {
  width: calc(100% - 365px);
  padding: 20px;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.soybean {
  // font-size: calc(3.4vw);
  font-size: calc(2.05vw);
  padding: 0.77vw;
  display: inline-block;
  margin-bottom: -25px;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.soybean p:hover ~ .popup-soybean {
  display: block;
}

.popup-soybean {
  display: none;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.05);
  text-transform: capitalize;
  z-index: 10;
  position: absolute;
  top: 15px;
  left: 50px;
  // text-align: center;
  font-size: 9px;
  font-weight: 400;
  width: 140px;
  padding: 5px;
  p {
    margin: 0;
  }
  h3 {
    margin: 5px 0;
  }
  h6 {
    color: rgba(77, 163, 42, 0.9);
    font-weight: 800;
    margin: 0;
    margin-bottom: 0px;
  }
  span {
    font-weight: 600;
  }
}
